{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Detalle {{ nc.codigo }}</title>
    <link rel="stylesheet" href="{% static 'CSS/estilos.css' %}">
</head>

<body>
    <div class="main-wrapper">
        <h1>Ficha: {{ nc.codigo }}</h1>

        <button id="btn-detalle-nc" class="btn-ficha" type="button">Mostrar información adicional</button>

        <div id="bloque-detalle-nc" style="display: none; margin-top: 15px;">
            <p><strong>Descripción:</strong> {{ nc.descripcion }}</p>
            <p><strong>Estado:</strong> {{ nc.estado }}</p>
            <p><strong>Gravedad:</strong> <span class="gravedad-nc">{{ nc.gravedad }}</span></p>
        </div>

        <h3>Responsables Asignados:</h3>
        <ul>
            {% for r in nc.responsable.all %}
            <li>{{ r.nombre }} {{ r.apellidos }}</li>
            {% endfor %}
        </ul>
        <h3>Recomendaciones de gestión</h3>
        <div id="contenedor-recomendaciones"></div>
        <br>
        <a href="{% url 'lista_nc' %}" class="btn-ficha">Volver al listado</a>
    </div>

    <script src="{% static 'JS/scripts.js' %}"></script>
    
</body>

</html>